* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box {
    background-color: #e9ecef;
    width: 97%;
    border: 5px solid #e9ecef;
    border-radius: 5px;
    padding: 50px;    
    position: static;
    margin: 20px 20px 20px 20px;
    
}

/* Portfolio navigation on page */
.portfolionav {
    background-color: #e9ecef !important;
    color: black !important;
}

.nav-link {
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.card-link {
    color: #27283b !important;
}
.card-title {
    text-align: center;
}
.btn-light {
    color: white !important;
    background-color: #27283b;
}
/* main content */
main {
    font-family: sans-serif;
}

h2 {
    font-size: 56px;
    font-weight: 300;
}

h3, h4 {
    text-align: center !important;
}

img {
    margin: 0px; 
    margin-bottom: 15px;
}
.card {
    margin-bottom: 50px;
}
 
.smallCard{
    min-width: 200px;
    min-height: 430px;
    font-weight: 300 !important;
    font-size: 15px !important;
    
}
.largeCard {
    min-height: 570px;
    text-align: center;
    margin-left: 0px !important;
}
.sweetSpot, .spinMeal {
    max-height: 346px;
}
.portfolioNavLink {
    color: black !important;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
}

@media only screen and (max-width: 992px) {
    .box {
        margin: 15px 15px 15px 15px ;
    }
}

@media only screen and (max-width: 768px) {
    .box {
        margin: 10px 10px 10px 10px ;
    }
}